.background-container {
    background-image: url("../assest/back.jpg"); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Adjust as needed */
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }